<div class="container">
    <div class = "jumbotron">
        <h1>Pass me the aux</h1>
        <h1><%= current_user.name %></h1>
        <%= image_tag current_user.image_url, class: "img-circle", width: 24 %>
        <%= link_to "(logout)", logout_path %>
        <button type="button" class="btn btn-secondary"><%= link_to "Recommend", home_recommend_path %></button>
        <button type="button" class="btn btn-secondary"><%= link_to "Recommendee", home_recommendee_path %></button>
    </div>
</div>