<div class="recommendee-recommended-container">
    <%= link_to "Logout", logout_path, class: 'smaller corner'%>
    <div class='recommended-box-container'>
        <h3><b><%= @rec.recommender_name %></b> recommended you the following song: </h3>
        <h2><b>URL</b></h2>
        <div class="url-container">
            <%= @rec.url_to_song %>
        </div>
        <div class="buttons-container">
            <%= link_to "COPY", "", class: 'medium'%>
        </div>
    </div>

    <h1 class="h3-title">How was the recommendation?</h1>
    <div class='choice-container'>
        <div class="buttons-container">
            <%= link_to "Listened before, LIKED", home_feedback_path(param_1: 1), class: 'medium'%>
        </div>
        <div class="buttons-container">
            <%= link_to "New Song, LIKED", home_feedback_path(param_1: 2), class: 'medium'%>
        </div>
        <div class="buttons-container">
            <%= link_to "New Song, DISLIKED", home_feedback_path(param_1: 3), class: 'medium'%>
        </div>
        <div class="buttons-container">
            <%= link_to "Listened before, DISLIKED", home_feedback_path(param_1: 4), class: 'medium'%>
        </div>
    </div>
</div>

<!-- <%= image_tag current_user.image_url, class: "img-circle", width: 72 %> -->