<div class="home-container">
    <%= link_to "Logout", logout_path, class: 'smaller corner'%>
    <div class='user-container'>
        <h1>You've Got the AUX, <%= current_user.name %></h1>
    </div>
    <h1>Now Make a Recommendation to:</h1>
    <h1><%= @currentrecommendation.requestor_name %></h1>
    <div class="song-input">
        <%= text_field_tag(:songurl) %>
    </div>
    <div class="buttons-container">
        <%= link_to "Submit", home_recommend_path, class: 'medium' %>
    </div>
</div>