<div class="recommendee-recommended-container">
    <%= link_to "Logout", logout_path, class: 'smaller corner'%>
    <div class='recommended-box-container'>
        <h3> <%= image_tag current_user.image_url, class: "img-circle", width: 72 %> <b><%= current_user.name %></b> recommended you the following song: </h3>
        <h2><b>URL</b></h2>
        <div class="url-container">

        </div>
        <div class="buttons-container">
            <%= link_to "COPY", "", class: 'medium'%>
        </div>
    </div>

    <h1 class="h3-title">How was the recommendation?</h1>
    <div class='choice-container'>
        <div class="buttons-container">
            <%= link_to "Listened before, LIKED", "", class: 'medium'%>
        </div>
        <div class="buttons-container">
            <%= link_to "New Song,    LIKED", "", class: 'medium'%>
        </div>
        <div class="buttons-container">
            <%= link_to "New Song, DISLIKED", "", class: 'medium'%>
        </div>
        <div class="buttons-container">
            <%= link_to "Listened before, DISLIKED", "", class: 'medium'%>
        </div>
    </div>
</div>